body {
    background-color:#00bfff;
    background: url(Gradient.png);
}

#dieRoller1 tr, #dieRoller1 td, #dieRoller2 tr, #dieRoller2 td, #dieRoller1 th, #dieRoller2 th {
    border: 1px solid rgb(255, 255, 255);
    background-color:black;
    text-align: center;
    color:rgb(223, 195, 35);
    padding: 6px;
}

#dieRoller1 button, #dieRoller2 button {
    color:black;
}

.dieInput {
    width: 60px;
}

#inputTable {
    margin: 16px;
}

.inputTableSpacer {
    width:40px;
}

input {
    background-color: rgb(243, 243, 243);
    color:black;
}

#dieResults {
    /* Die Roll Totals area. */
    height: 220px;
    width: 250px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color:rgb(21, 190, 21);
}



#creatureTable {
    /* Encounter tracking table. */
    color:rgb(223, 195, 35);
    background-color: rgb(0, 0, 0);
    width: 920px;
}

#creatureTable tbody tr:nth-child(odd){background-color: rgb(40, 77, 180);}
#creatureTable tbody tr:hover {background-color: rgba(164, 35, 190, 0.843);}

#creatureTable td {
    padding: 4px;
}

.name, .initiative, .armorClass, .hitPoints {
    height: 34px;
}

.initiativeHeader {
    width: 100px;
}

.acHeader {
    width:38px;
}

.hpHeader {
    width: 50px;
}

.removeHeader {
    width: 88px;
}

.lockHeader {
    width: 50px;
}

.duplicateHeader {
    width: 94px;
}

.remove {
    color: rgb(255, 0, 0);
}

.locker {
    height: 25px;
    width: 40px;
}

.dupe {
    color: rgb(0, 0, 255);
}